[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"
tensorflow-macos = "*"

[requires]
python_version = "3se.10"
python_full_version = "3.10.16"
